@page "/"

<h1>RAISE Your Farm Efficiency</h1>


<h3> Cost Saver Calculator</h3>
<label for="customRange2" class="form-label">Farm size (approx):<b> @orMore @farmSize </b> Hectares </label>
<input type="range" class="form-range" min="50" max="200" id="customRange2" step="5" @bind="@farmSize">

<label for="customRange2" class="form-label2">Money you spend per season on pesticides & Fertilizers (approx): <b>@more @cost </b> euros </label>
<input type="range" class="form-range" min="5000" max="200000" id="customRange2" step="5000" @bind="@cost">
<p> You will save : <b> @SavedAmount </b> euros, which is <b>@SavedPercentage % </b> on your production cost</p>

@code {

	//private void IncrementCount() => currentCount++;

	//private int currentCount;

	private int farmSize { get; set; } = 50;

	private double SavedPercentage => 20 + Math.Round((farmSize + (cost*0.0001 ))/ 120.0, 2);
	private string orMore => farmSize == 200 ? ">" : "";
	private string more => cost == 200000 ? ">" : "";
	public int cost { get; set; } = 5000;

	private double SavedAmount => Math.Round(cost * (SavedPercentage / 100.0), 2);
}
